@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/jquery")
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        @*<img src="~/LocLogo.png"*@
        <button class="redStyle" id="gmtest">Нажать</button> <br />
    </div>
</div>


<div class="row">
    <div class="col-md-8 map" id="map">

    </div>
</div>

<button class="redStyle" id="gmtest1">Нажать</button> <br />

<div class="row">

    <div class="col-md-8 map" id="map1">

    </div>
</div>

<script src="~/Scripts/Home/gMap.js"></script>

<script>
    $('#gmtest').click(function () {
        let locations =
            [
                {
                    lat: 43.5868685,
                    lng: 39.7299474,
                    description: 'первая точка',
                    img: 'some url',
                    radius: 500,
                },
                {
                    lat: 43.6085269,
                    lng: 39.7313797,
                    description: 'вторая точка',
                    img: 'some url',
                    radius: 500,
                },
                {
                    lat: 43.6191221,
                    lng: 39.7218364,
                    description: 'третья точка',
                    img: 'some url',
                    radius: 500,
                },
                {
                    lat: 43.593971,
                    lng: 39.736433,
                    description: 'четвертая точка',
                    img: 'some url',
                    radius: 500,
                    //cssClass: abc;
                },
            ];

        let m = gMap;
        m.init();
        m.renderMap(locations, 'map');
        m.showDestination(locations, null, true);
        //m.getLocation();
    });
</script>


<script>
    $('#gmtest1').click(function () {
        let locations =
            [
                {
                    lat: 43.5868685,
                    lng: 39.7299474,
                    description: 'первая точка',
                    img: 'some url',
                    radius: 500,
                },
                {
                    lat: 43.6085269,
                    lng: 39.7313797,
                    description: 'вторая точка',
                    img: 'some url',
                    radius: 500,
                },
            ];

        let gm = gMap;
        gm.init();
        gm.renderMap(locations, 'map1');
        gm.showDestination(locations, null, false);
        //gm.getLocation();
    });
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHZIqG64ECD89gO7f4e_LbXJwkpnl4Gq0&libraries=geometry">
</script>
